name: Keep Streamlit App From Sleeping

on:
  schedule:
    - cron: '0 */10 * * *'
  workflow_dispatch: 
jobs:
  ping-app:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit App
        run: |
          curl -I https://nflpred.streamlit.app/